.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav {
    display: flex;
    gap: 50px;
}

.header-nav>a {
    text-decoration: none;
    color: white;
}